 <!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Deborah Sills</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
  <link rel="stylesheet" href="stylesheets/had.css">
  <link rel="stylesheet" href="stylesheets/dsills.css">
  

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->


</head>
<body>

	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->
  
	<div class="container">
		<div class="sixteen columns content"> 
      <header> 
       <hgroup> 
			    <h1 class="remove-bottom">Deborah Sills</h1>
			    <h5>deborahsills.com</h5>
       </hgroup>
     </header>  
        
  <div class="twelve columns content">
	
		
			
			<p>My name is Deborah Sills, and I'm an Assistant Professor in the <a href="http://www.bucknell.edu/x13777.xml">Civil & Environmental Engineering Department</a> at <a href="http://www.bucknell.edu">Bucknell University</a>.  My <a href= "http://www.cbe.cornell.edu/~jwt/research/LCA_algal_biofuels.html">research</a> focuses on sustainable production of biofuels and bioproducts.  I use laboratory studies and modeling techniques&mdash;such as life cycle assessment&mdash;to develop and improve the environmental performance of bioenergy production. In addition, I am interested in developing energy-efficient wastewater treatment processes to be used in developing countries.</p>
      <h2>Professional</h2>
      <p><a href="Sills_CV_Sept_2013.pdf">My academic vita</a></p>
      
      <h2>Teaching</h2>
      <p><a href="CENG340.html">CENG 340 Introduction to Environmental Engineering</a> (Fall 2013)</p>
      
      <h2>Publications</h2>
      <p>Citations via <a href= "http://scholar.google.com/citations?user=PYUa73EAAAAJ&hl=en">Google Scholar </p>
      
  
  <div class='citation'>
<a href='http://pubs.acs.org/doi/full/10.1021/es3029236'>  <img src='/thumbs/algae_lca.png' width='100' />
</a>  <ul>
    <li class='author'>Deborah Sills, V. Paramita, M. Franke, M. Johnson, T. Akabas, C. Greene, J. Tester.</li>
    <li class='title'><a href='http://pubs.acs.org/doi/full/10.1021/es3029236'>Quantitative uncertainty analyis of life cycle assessment for algal biofuel production</a>.</li>
    <li class='citation'><em>Environmental Science & Technology</em>, vol. 47, pp. 687&#8211;692, 2013.</li>
  </ul>
  
  <br clear='all' /></div>
  
  
  
<div class='citation'>
<a href='http://onlinelibrary.wiley.com/doi/10.1002/bit.24376/full'>  <img src='/thumbs/FTIR2.png' width='100' />
</a>  <ul>
    <li class='author'>Deborah Sills & James Gossett.</li>
    <li class='title'><a href='http://onlinelibrary.wiley.com/doi/10.1002/bit.24376/full'>Using FTIR spectroscopy to model alkaline pretreatment and enzymatic saccharification of six lignocellulosic biomasses</a>.</li>
    <li class='citation'><em>Biotechnology & Bioengineering</em>, vol. 109, pp. 894&#8211;903, 2012.</li>
  </ul>
  <br clear='all' /></div>
  
  
  <div class='citation'>
<a href='http://onlinelibrary.wiley.com/doi/10.1002/bit.23314/full'>  <img src='/thumbs/FTIR1.png' width='100' />
</a>  <ul>
    <li class='author'>Deborah Sills & James Gossett.</li>
    <li class='title'><a href='http://onlinelibrary.wiley.com/doi/10.1002/bit.23314/full'>Using FTIR to predict saccharification from enzymatic hydrolysis of alkali-pretreated biomasses</a>.</li>
    <li class='citation'><em>Biotechnology & Bioengineering</em>, vol. 109, pp. 352&#8211;363, 2012.</li>
  </ul>
  <br clear='all' /></div>
  
  <div class='citation'>
<a href='http://www.sciencedirect.com/science/article/pii/S0960852410015488'>  <img src='/thumbs/Sills_Gossett_2011.png' width='100' />
</a>  <ul>
    <li class='author'>Deborah Sills & James Gossett.</li>
    <li class='title'><a href='http://www.sciencedirect.com/science/article/pii/S0960852410015488'>Assessment of commercial hemicellulases for saccharification of alkaline pretreated perennial biomass</a>.</li>
    <li class='citation'><em>Bioresource Technology</em>, vol. 102, pp. 1389&#8211;1398, 2011.</li>
  </ul>
  <br clear='all' /></div>
  
		</div>
    
    
   
	<div class="three columns omega">
   
   <image src="/images/banner.jpg">
    
      <p>Office: 215 Dana<br>
      Phone (570) 577-3367<br>
      Fax: (570) 577-3415<br>
      Skype: deborahsills<br>
      <a href="mailto:deborah.sills@bucknell.edu">deborah.sills@bucknell.edu</a></p>
		</div>
    
    <div class="sixteen columns" id="attribution">
    
    <hr />
    <footer>
      <p class="remove-bottom"><small>Styled with <a href="http://www.getskeleton.com/">skeleton</a> and <a href="http://subtlepatterns.com/">subtle patterns</a>. Built with <a href="http://jekyllrb.com/">jekyll</a>.  Forked from Charlotte Wikham's <a href="http://cwick.co.nz">website</a>.</small></p>
      </footer>
  </div>

	</div><!-- container -->


<!-- End Document
================================================== -->
